html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  font-weight: normal;
  color: #222;
}

img {
  width: 100%;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figure {
  text-align: center;
  font-style: italic;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

.boldtext {
  font-weight: bold;
}

h2 + p {
  font-style: italic;
}

dt {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote cite {
  font-size: .8rem;
}

footer {
  font-style: normal;
}

ol {
  list-style-type: lower-greek;
}

h1 {
  font-size: 1.5rem;
}
